<h1>Users#home</h1>
<table>
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>License</th>
  <th>State</th>
</tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.license.number %></td>
    <td><%= user.license.state %></td>
  </tr>
<% end %>
</table>

